/*
    1. Posicionamiento --> static, absolute, relative, fixed
    2. Modelo de caja (Box model) --> margin, border, padding, content
    3. Tipografía --> tipos, tamaños de fuente, etc
    4. Estilos visuales --> box-shadow, border-radius, gradient, etc
    5. Otros --> reglas CSS y más
*/

/* DEFAULT STYLES */
:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --warm-black-1:#282623;
    --grey: #BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior : smooth;
    /* font-family: 'Inter', sans-serif; */
}

/* HEADER STYLE */
header{
    display: flex;
    flex-direction: column;
    width: 100%;     
    min-width: 320px; /* IMPORTANTE DEFINIR ESTO SIEMPRE */
    height: 295px;
    align-items: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top:42px;
}
.header--title-container{
    width: 90%; /* PARA CENTRAR DIVS */
    min-width: 288px; /* COMO MINIMO TENDRA 288px DE WIDTH */
    max-width: 900px;/* CUANDO LLEGUE A LOS 900px DEJARA DE CERCER */
    margin-top: 33px;
    text-align: center;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p{
    margin-top: 2.4rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(295px - 24px); /* SE RESTA LA ALTURA DEL HEADER MENOS LA ALTURA DEL BOTON */
    left: calc(50% - 114.5px); /* SE RESTA EL 100% DE LEFT MENOS LA MITAD DEL WIDTH DEL BOTON */
    width: 229px;
    height: 48px;
    padding: 1.2rem 1.6rem;
    color: var(--warm-black);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    background: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
}
.header--button span{
    width: 24px;
    height: 24px;
    margin-left: 8px;
    background-image: url('../icon/down-arrow.svg') ;
}

/* MAIN STYLE */
main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .background-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image:url('../img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container--title h2{
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: var(--warm-black);
}
.main-exchange-container--title p{
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #757575;
}

/* TABLES */
.main-tables-container{
    display: flex;
    gap: 30px;
    height: 350px;
    padding: 0 20px;
    margin-bottom: 20px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-currency-table, .main-commissions-table{
    scroll-snap-align: center;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    /* height: 360px; */
    margin: 0 20px; /* ME PERMITIO CENTRAR LA TABLA EN EL SCROLL MARGIN LEFT 20 Y RIGHT 20*/
    font-family: 'Inter', sans-serif;
}
/* .main-commissions-table{
    display: none;
} */
.main-currency-table .currency-table__tittle, .commissions-table__tittle{
    margin-bottom: 12px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 23px;
    color: var(--bitcoin-orange);
}
.commissions-table__tittle{
    color: var(--secondary-blue);
}
.currency-table__container, .commissions-table__container{
    display: flex;
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table__container table, .commissions-table__container table{
    width: 100%;
    height: 100%;
}
.currency-table__container table td, .commissions-table__container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 19px;
    color: #B5B0AC;
    background: var(--just-white);
}
.currency-table__container .table--top-right, .commissions-table__container .table--top-right{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
}
.border-left{
    border-radius: 15px 0 0 0;
}
.border-right{
    border-radius: 0 15px 0 0;
}
.border-bottom-right{
    border-radius: 0 0 15px 0;
}
.border-bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table__container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../icon/trending-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.currency-table__container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../icon/trending-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.currency-table__date, .commissions-table__date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 64px;
    padding: 8px;
    background: var(--soft-orange);
    border-radius: 8px;
}
.commissions-table__date{
    background: var(--soft-blue);
}
.currency-table__date p, .commissions-table__date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}
.inactive{
    display: none;
}

/*ARROWS CON JAVASCRIPT*/
/* #arrow-right{
    align-self: center;
    position: absolute;
    left: calc(90% - 5px);
    width: 12px;
    height: 20px;
    background-image: url('../icon/right-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
#arrow-left{
    align-self: center;
    position: absolute;
    left: calc(10% - 5px);
    width: 12px;
    height: 20px;
    background-image: url('../icon/left-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
} */

/* SECTION main-product-detail */ 
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background: var(--warm-black);
}
.product-detail__batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px; /* calc(0% - 12.5px) */
    left: calc(50% - 20px);
    background-image: url('../icon/batata.svg');
}
.prdouct-detail__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 64px;
    text-align: center;
}
.prdouct-detail__title h2{
    font-weight: 700; /* ó bold*/
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 24px;
    color: var(--just-white);
}
.prdouct-detail__title p{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
    margin-bottom: 30px;
}
.product-detail__card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 16px auto;
    padding: 15px;
    background: var(--warm-black-1);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail__card span{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 1.4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-detail__card .clock{
    background-image: url('../icon/clock.svg');
}
.product-detail__card .eye{
    background-image: url('../icon/eye.svg');
}
.product-detail__card .dollar{
    background-image: url('../icon/dollar-sign.svg');
}
.product-detail__card .check{
    background-image: url('../icon/check-circle.svg');
}


.product__card-title{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: var(--just-white);
}
.product__card-body{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('../img/bitcoinbaby2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.bitcoin-img-container h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: var(--just-white);
    padding-top: 64px;
}


/* SECTION PLANS */
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding: 60px 0;
    text-align: center;
}
.plans__tittle{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 35px;
}
.plans__tittle h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: var(--warm-black);
    margin-bottom: 24px;
}
.plans__tittle p{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #757575;
}

.plans-container__slider{
    display: flex;
    gap: 30px;
    height: 300px;
    padding: 0 20px;

    /* SIRVE PARA EL SCROLL */
    overflow-x: auto; /* con auto se esconde la barra horizontal del scroll, antes ternia el valor de "scroll"*/
    overscroll-behavior-x: contain; 
    scroll-snap-type: x proximity;
}

.plans-container__card{
    position: relative;
    scroll-snap-align: center; /* SIRVE PARA EL SCROLL */
    width: 60%;
    min-width: 190px;
    max-width: 250px;
    height: 250px;
    margin: 20px 5px 0;
    padding: 0 15px;
    background: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 15px;
}

.plan-info--container{
    padding: 30px 0;
}

.recommended{
    position: absolute;
    width: 120px;
    height: 32px;
    padding: 8px;
    left: calc(50% - 60px);
    top: calc(0% - 16px);
    color: var(--just-white);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
    background: var(--bitcoin-orange);
}
.plan-card__tittle{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: black;
}
.plan-card__price{
    padding: 5px 0;
    font-weight: bold;
    font-size: 52px;
    line-height: 53px;
    color: black;
    font-family: 'Inter', sans-serif;
}
.plan-card__price span{
    font-size: 12px;
    font-weight: 500;
    vertical-align: 25px;
}
.plan--card__saving{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #757575;
    margin-top: 8px;
}
.plan-card__ca{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 48px;
    margin: 0 auto;
    margin-top: 16px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
    font-family: 'DM Sans', sans-serif;
}
.plan-card__ca span{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    background-image: url('../icon/orange-right-arrow.svg');
}

/* FOOTER */
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .footer__left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
footer .footer__left li{
    margin: 10px 0;
}
footer .footer__left ul a{
    text-decoration: none;
    color: var(--just-white);
}

/* @media (min-width: 1024px) {
    .main-currency-table, .main-commissions-table{
        display: block;
    }
    #arrow-right, #arrow-left{
        display: none;
    }
} */